h3{
    width: 90%;
    margin: 5%;
}
a{
    color: black;
    text-decoration: none;
}
.resume {
    &__maps {
        display: inline-flex;
        align-items: center;
        text-align: center;
        background-color: #f3f3f3;
        height: 2em;
        width: 100%;
    }
    &__rules {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        background-color: #fafafa;
        height: 9em;
    }
    i.fa-map-marker-alt {
        width: 1em;
        height: 1em;
    }
}

.operation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    &__order{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 2em;
    }
    &__steps {
        align-items: center;
        display: flex;
        width: 28%;
        height: 3em;
        background-color: #f3f3f3;
        border-radius: 1em;
        box-shadow: 0.25em 0.25em 0.5em;
        &--number{
            display: flex;
            border-radius: 100%;
            height: 1em;
            width: 1em;
            align-items: center;
            justify-content: center;
            background-color: $color-primary;
        }
        &--logo{
            display: inline-flex;
            align-items: center;
            text-align: center;
            justify-content: space-evenly;
        }
    }
    .order__text{
        width: auto;
    }
    .order__logo {
        width: 1em;
        height: 1em;
    }
}
.restaurants {
    background-color: #f3f3f3;
    display: flex;
    height: 53em;

        &__list--selected {
            display: grid;
            grid-template-columns: 5% 40% 10% 40% 5%;
            grid-template-rows: 42% 16% 42%;

            &--1{
                height: 19em;
                background-color: #ffffff;
                border-radius: 1.5em;
                box-shadow: 0 0 10px grey;
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            &--2{
                height: 19em;
                background-color: #ffffff;
                border-radius: 1.5em;
                box-shadow: 0 0 10px grey;
                grid-column-start: 4;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            &--3{
                height: 19em;
                background-color: #ffffff;
                border-radius: 1.5em;
                box-shadow: 0 0 10px grey;
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 3;
            }
            &--4{
                height: 19em;
                background-color: #ffffff;
                border-radius: 1.5em;
                box-shadow: 0 0 10px grey;
                grid-column-start: 4;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 3;
            }
            
        }
        &__img {
            border-radius: 1.5em 1.5em 0 0;
            object-fit: cover;
            height: 15.5em
        }
        &__description{
            display: flex;
            flex-direction: row;
            margin-left: 1em;
        }
        &__name{
            width: 80%;            
        }
}

@media screen and (max-width: 798px) {
    .operation__order{
        flex-direction: column;
        width: 100%;
        margin-bottom: 2em;
    }
    .operation__steps {
        margin: 5%;
        width: 90%;
    }
    .restaurants {
        height: auto;
        &__list--selected {
            display: grid;
            width: 100%;
            grid-template-rows: 12em 1em 12em 1em 12em 1em 12em 2em;
            grid-template-columns: 5% 90% 5%;
            
            &--1{
                height: 12em;
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            &--2{
                height: 12em;
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 3;
            }
            &--3{
                height: 12em;
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 5;
                grid-row-end: 5;
            }
            &--4{
                height: 12em;
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 7;
                grid-row-end: 7;
            }
        }
        &__img {
            border-radius: 1.5em 1.5em 0 0;
            object-fit: cover;
            height: 9em
        }
        &__description{
            display: flex;
            flex-direction: row;
            height: auto;
            width: 100%;
            margin-left: 1em;
        }
        &__name{
            width: 80%;            
        }
    }
}
