.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #353535;
    color: #FFFFFF;
        &__title{
            font-size: 1.5em;
            padding-top: 1em;
        }

        &__link {
            display: flex;
            flex-direction: column;
            color: #FFFFFF;
            margin: 1.5em 0;
            & a{
                padding: 5px 0;
                text-decoration: none;
                color: #FFFFFF;
            }
        }
}

@media screen and (max-width: 798px) {
    .footer {
        text-align: start;
            &__link {
            color: #FFFFFF;
            margin: 1em;    
        }
    }
    h5 {
        margin-left: 0.75em;    
    }
}

