
.loader__container{
    position: fixed;
    background-color: $color-title;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: font $anim-dur both;
}

.load{
    position: absolute;
    top: 30%;
    left: 35%;
    display: flex;
    flex-direction: column;
    &__logo {
        font-size: 5em;
        font-family: 'Shrikhand', sans-serif;
        animation: mixed-logo $anim-dur forwards;
    }
    &__points{
        display: flex;
        padding: 20px 0;
        flex-direction: row;
        justify-content: space-between;
        &--1, &--6{
            background-color: $color-primary;
            animation: mixed-points1 $anim-dur forwards;
        }
        &--2, &--5{
            background-color: $color-secondary;
            animation: mixed-points2 $anim-dur forwards;
        }
        &--3, &--4{
            background-color: $color-tertiary;
            animation: mixed-points3 $anim-dur forwards;
        }
        &--99 {
            height: 3em;
            width: 3em;
            border-radius: 100%;
        }
    }
    
}

@media screen and (max-width: 798px) {
.load{
        position: fixed;
        top: 35%;
        left: 30%;
        &__logo {
            font-size: 2em;
        }
        &__points--99 {
                height: 2em;
                width: 2em;
        }  
    }

}