
.menu__img {
    width: 100%;
    height: 25em;
    object-fit: cover;
}

.menu{
    display: flex;
    position: relative;
    top: -100px;
    flex-direction: column;
    background-color: yellow;
    width: 80%;
    margin: 0 10%;
    border-radius: 1em 1em 0 0;

    &__title{
        display: flex;
        font-family: 'Shrikhand', 'Roboto', sans-serif;
        padding: 1em 2em 0 1em;
        align-items: center;
        justify-content: space-between;
    }
    &__choice{
        display: flex;
        justify-content: space-between;
    }
    &__header{
        text-decoration: underline $color-tertiary 3px;
    }
}
.dish{
    display: flex;
    margin: 0 1em;
    width: 30%;
    flex-direction: column;
}
.choice{
    display: flex;
    margin: 1em;
    flex-direction: column;
    border-radius: 1em;
    background-color: white;
}

@media screen and (max-width: 798px) {
    .menu__img {
        height: 10em;
    }
    
    .menu{
        top: -30px;
        width: 100%;
        margin: 0;
        
        &__choice{
            flex-direction: column;
        }
    }
    .dish{
        margin: 0;
        width: 100%;
    }
    .choice{
        display: flex;
        margin: 1em;
        flex-direction: column;
        border-radius: 1em;
        background-color: white;
    }
}