html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  font-size: 2em;
}

h1, h5 {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

body, html {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.btn__resume--explore {
  color: #ffffff;
  border-color: transparent;
  height: 4em;
  width: auto;
  background-color: #FF79DA;
  border-radius: 1.5em;
  cursor: pointer;
  margin-bottom: 2em;
}

.btn__order {
  color: #ffffff;
  border-color: transparent;
  height: 4em;
  width: 10em;
  background-color: #FF79DA;
  border-radius: 1.5em;
  cursor: pointer;
  margin-bottom: 2em;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em 0;
}

i.fa-arrow-left {
  position: absolute;
  top: 2em;
  left: 30px;
}

i.fa-map-marker-alt {
  width: 1em;
  height: 1em;
}

i.fa-heart {
  color: red;
}

h3 {
  width: 90%;
  margin: 5%;
}

a {
  color: black;
  text-decoration: none;
}

.resume__maps {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  height: 2em;
  width: 100%;
}
.resume__rules {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  background-color: #fafafa;
  height: 9em;
}

.operation {
  display: flex;
  flex-direction: column;
}
.operation__order {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
.operation__steps {
  display: flex;
  align-items: center;
  text-align: center;
  width: 28%;
  height: 3em;
  background-color: #f3f3f3;
  border-radius: 1em;
  box-shadow: 0.25em 0.25em 0.5em;
}
.operation__steps--number {
  position: relative;
  left: -12px;
  border-radius: 100%;
  height: 1.2em;
  width: 1.2em;
  align-items: center;
  text-align: center;
  background-color: #9356DC;
  color: #ffffff;
}
.operation__steps--logo {
  display: inline-flex;
  margin-left: 30px;
  align-items: center;
}

.restaurants {
  background-color: #f3f3f3;
  display: flex;
  height: 52em;
}
.restaurants__list--selected {
  display: grid;
  grid-template-columns: 5% 40% 10% 40% 5%;
  grid-template-rows: 42% 16% 42%;
}
.restaurants__list--selected--1 {
  height: 19em;
  background-color: #ffffff;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.restaurants__list--selected--2 {
  height: 19em;
  background-color: #ffffff;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
.restaurants__list--selected--3 {
  height: 19em;
  background-color: #ffffff;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}
.restaurants__list--selected--4 {
  height: 19em;
  background-color: #ffffff;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}
.restaurants__img {
  border-radius: 1.5em 1.5em 0 0;
  object-fit: cover;
  height: 15.5em;
  width: 100%;
}
.restaurants__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.restaurants__name {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 798px) {
  .operation__order {
    flex-direction: column;
  }

  .operation__steps {
    margin: 5%;
    width: 90%;
  }

  .restaurants {
    height: auto;
  }
  .restaurants__list--selected {
    grid-template-rows: 12em 1em 12em 1em 12em 1em 12em 2em;
    grid-template-columns: 5% 90% 5%;
  }
  .restaurants__list--selected--1 {
    height: 12em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .restaurants__list--selected--2 {
    height: 12em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .restaurants__list--selected--3 {
    height: 12em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .restaurants__list--selected--4 {
    height: 12em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7;
  }
  .restaurants__img {
    height: 9em;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #353535;
  color: #FFFFFF;
}
.footer__title {
  font-size: 1.5em;
  padding-top: 1em;
}
.footer__link {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  margin: 1.5em 0;
}
.footer__link a {
  padding: 5px 0;
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 798px) {
  .footer {
    text-align: start;
  }
  .footer__link {
    color: #FFFFFF;
    margin: 1em;
  }

  h5 {
    margin-left: 0.75em;
  }
}
.menu__img {
  width: 100%;
  height: 25em;
  object-fit: cover;
}

.menu {
  display: flex;
  position: relative;
  top: -100px;
  flex-direction: column;
  background-color: yellow;
  width: 80%;
  margin: 0 10%;
  border-radius: 1em 1em 0 0;
}
.menu__title {
  display: flex;
  font-family: "Shrikhand", "Roboto", sans-serif;
  padding: 1em 2em 0 1em;
  align-items: center;
  justify-content: space-between;
}
.menu__choice {
  display: flex;
  justify-content: space-between;
}
.menu__header {
  text-decoration: underline #99E2D0 3px;
}

.dish {
  display: flex;
  margin: 0 1em;
  width: 30%;
  flex-direction: column;
}

.choice {
  display: flex;
  margin: 1em;
  flex-direction: column;
  border-radius: 1em;
  background-color: white;
}

@media screen and (max-width: 798px) {
  .menu__img {
    height: 10em;
  }

  .menu {
    top: -30px;
    width: 100%;
    margin: 0;
  }
  .menu__choice {
    flex-direction: column;
  }

  .dish {
    margin: 0;
    width: 100%;
  }

  .choice {
    display: flex;
    margin: 1em;
    flex-direction: column;
    border-radius: 1em;
    background-color: white;
  }
}

/*# sourceMappingURL=style.css.map */
