html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  font-size: 2em;
}

h2, h3, h4 {
  font-weight: bold;
}

h1, h5 {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

body, html {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.operation__header h3,
.restaurants__list h3 {
  margin: 5%;
}

a {
  color: black;
  text-decoration: none;
}

.btn {
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 100em;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.btn__class {
  margin: 1em 0;
  text-align: center;
}
.btn__resume {
  background-image: linear-gradient(to right bottom, #FF79DA, #9356DC);
}

.btn__order {
  color: #ffffff;
  border-color: transparent;
  height: 4em;
  width: 10em;
  background-color: #FF79DA;
  border-radius: 1.5em;
  cursor: pointer;
  margin-bottom: 2em;
}

.btn__position {
  width: 100%;
}

.loader__container {
  position: fixed;
  background-color: #e6e6e6;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: font 4000ms both;
}

.load {
  position: absolute;
  top: 30%;
  left: 35%;
  display: flex;
  flex-direction: column;
}
.load__logo {
  font-size: 5em;
  font-family: "Shrikhand", sans-serif;
  animation: mixed-logo 4000ms forwards;
}
.load__points {
  display: flex;
  padding: 20px 0;
  flex-direction: row;
  justify-content: space-between;
}
.load__points--1, .load__points--6 {
  background-color: #9356DC;
  animation: mixed-points1 4000ms forwards;
}
.load__points--2, .load__points--5 {
  background-color: #FF79DA;
  animation: mixed-points2 4000ms forwards;
}
.load__points--3, .load__points--4 {
  background-color: #99E2D0;
  animation: mixed-points3 4000ms forwards;
}
.load__points--99 {
  height: 3em;
  width: 3em;
  border-radius: 100%;
}

@keyframes font {
  0% {
    opacity: 0.9;
    z-index: 1;
  }
  99% {
    opacity: 0.9;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes mixed-points1 {
  0% {
    transform: scale(1);
    z-index: 1;
  }
  13% {
    transform: scale(1);
  }
  14% {
    transform: scale(0);
  }
  61% {
    transform: scale(0);
  }
  62% {
    transform: scale(1);
  }
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes mixed-points2 {
  0% {
    transform: scale(1);
    z-index: 1;
  }
  25% {
    transform: scale(1);
  }
  26% {
    transform: scale(0);
  }
  73% {
    transform: scale(0);
  }
  74% {
    transform: scale(1);
  }
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes mixed-points3 {
  0% {
    transform: scale(1);
    z-index: 1;
  }
  37% {
    transform: scale(1);
  }
  38% {
    transform: scale(0);
  }
  85% {
    transform: scale(0);
  }
  86% {
    transform: scale(1);
  }
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes mixed-logo {
  0% {
    color: black;
    transform: rotate(0);
    z-index: 1;
  }
  14% {
    color: #9256dc;
    transform: rotate(25deg);
  }
  26% {
    color: #ff7ad9;
    transform: rotate(90deg);
  }
  38% {
    color: #98e2cf;
    transform: rotate(155deg);
  }
  50% {
    color: #98e2cf;
    transform: rotate(180deg);
  }
  62% {
    color: #9256dc;
    transform: rotate(205deg);
  }
  74% {
    color: #ff7ad9;
    transform: rotate(270deg);
  }
  86% {
    color: #98e2cf;
    transform: rotate(335deg);
  }
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    color: black;
    transform: rotate(360deg);
    opacity: 0;
    z-index: -1;
  }
}
@media screen and (max-width: 798px) {
  .load {
    position: fixed;
    top: 35%;
    left: 30%;
  }
  .load__logo {
    font-size: 2em;
  }
  .load__points--99 {
    height: 2em;
    width: 2em;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em 0;
}

i.fa-arrow-left {
  position: absolute;
  top: 2em;
  left: 30px;
}

i.fa-map-marker-alt {
  width: 1em;
  height: 1em;
}

.order__logo {
  margin-right: 1.5em;
  color: grey;
}

i.fa-heart {
  color: red;
}

.resume__maps {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  height: 2em;
  width: 100%;
}
.resume__rules {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  height: 9em;
}

.operation {
  display: flex;
  flex-direction: column;
}
.operation__order {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
.operation__steps {
  display: flex;
  align-items: center;
  text-align: center;
  width: 28%;
  height: 3em;
  background-color: #f2f2f2;
  border-radius: 1em;
  box-shadow: 0.25em 0.25em 0.5em;
}
.operation__steps--number {
  position: relative;
  left: -12px;
  border-radius: 100%;
  height: 1.2em;
  width: 1.2em;
  align-items: center;
  text-align: center;
  background-color: #9356DC;
  color: #ffffff;
}
.operation__steps--logo {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 5%;
  align-items: center;
}
.operation__steps:hover {
  background-color: #e4d5f6;
}

.restaurants {
  background-color: #f2f2f2;
  display: flex;
  height: 52em;
}
.restaurants__list--selected {
  display: grid;
  grid-template-columns: 5% 40% 10% 40% 5%;
  grid-template-rows: 42% 16% 42%;
}
.restaurants__list--selected--1 {
  height: 19em;
  background-color: #ffffff;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.restaurants__list--selected--2 {
  height: 19em;
  background-color: #ffffff;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
.restaurants__list--selected--3 {
  height: 19em;
  background-color: #ffffff;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}
.restaurants__list--selected--4 {
  height: 19em;
  background-color: #ffffff;
  border-radius: 1.5em;
  box-shadow: 0 0 10px grey;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}
.restaurants__img {
  border-radius: 1.5em 1.5em 0 0;
  object-fit: cover;
  height: 15.5em;
  width: 100%;
}
.restaurants__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.restaurants__name {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 798px) {
  .operation__order {
    flex-direction: column;
  }

  .operation__steps {
    margin: 5%;
    width: 90%;
  }

  .restaurants {
    height: auto;
  }
  .restaurants__list--selected {
    grid-template-rows: 12em 1em 12em 1em 12em 1em 12em 2em;
    grid-template-columns: 5% 90% 5%;
  }
  .restaurants__list--selected--1 {
    height: 12em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .restaurants__list--selected--2 {
    height: 12em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .restaurants__list--selected--3 {
    height: 12em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .restaurants__list--selected--4 {
    height: 12em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7;
  }
  .restaurants__img {
    height: 9em;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #353535;
  color: #FFFFFF;
}
.footer__title {
  font-size: 1.5em;
  padding-top: 1em;
}
.footer__link {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  margin: 1.5em 0;
}
.footer__link a {
  padding: 5px 0;
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 798px) {
  .footer {
    text-align: start;
  }
  .footer__link {
    color: #FFFFFF;
    margin: 1em;
  }

  h5 {
    margin-left: 0.75em;
  }
}
p {
  font-size: 80%;
}

.menu {
  position: relative;
  display: flex;
  height: auto;
  top: -100px;
  flex-direction: column;
  background-color: grey;
  width: 90%;
  margin: 0 5% -100px 5%;
  border-radius: 1em 1em 0 0;
}
.menu__img {
  width: 100%;
  height: 25em;
  object-fit: cover;
}
.menu__title {
  display: flex;
  font-size: 1.5em;
  font-family: "Shrikhand", "Roboto", sans-serif;
  padding: 1em 2em 0 1em;
  align-items: center;
  justify-content: space-between;
}
.menu__choice {
  display: flex;
  margin: 2em 0;
  align-items: start;
}
.menu__header {
  text-decoration: underline #99E2D0 3px;
}

.dish {
  display: flex;
  width: 33%;
  flex-direction: column;
}

.choice {
  display: flex;
  margin: 0 1em;
  flex-direction: row;
  border-radius: 1em;
  background-color: white;
  margin: 1em;
  align-items: center;
}
.choice__name {
  margin: 5%;
  width: 85%;
}
.choice__price {
  width: 15%;
  font-weight: bold;
}

@media screen and (max-width: 798px) {
  .menu__img {
    height: 15em;
  }

  .menu {
    top: -30px;
    width: 100%;
    margin: 0 0 -30px 0;
  }
  .menu__choice {
    flex-direction: column;
  }
  .menu__header {
    justify-content: start;
    margin: 5%;
  }

  .dish {
    margin: 0;
    width: 100%;
  }

  .choice {
    display: flex;
    margin: 1em;
    flex-direction: row;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
