.btn__resume--explore{
        color:#ffffff;
        border-color: transparent;
        height: 4em;
        width: auto;
        background-color: $color-secondary;
        border-radius: 1.5em;
        cursor: pointer;
        margin-bottom: 2em;
    }

.btn__order{
    color:#ffffff;
    border-color: transparent;
    height: 4em;
    width: 10em;
    background-color: $color-secondary;
    border-radius: 1.5em;
    cursor: pointer;
    margin-bottom: 2em
}