.btn__resume--explore{
        color:#ffffff;
        border-color: transparent;
        height: 4em;
        width: auto;
        background-color: $color-secondary;
        border-radius: 1.5em;
        cursor: pointer;
        margin-bottom: 2em;
    }

