i.fa-arrow-left {
    position: absolute;
    top: 2em;
    left: 30px;
}
i.fa-map-marker-alt {
    width: 1em;
    height: 1em;
}
.order__logo {
    margin-right: 1.5em;
    color: grey;
}

.logo__coeur{
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: black;
    cursor: pointer;
          
  &:after {
      content: "\f08a";
      color: #ff79da;
      position: absolute;
      top: 0;
      left: 0;
  }
  &:hover:after {
      content: "\f004";
      color: transparent;
      background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
      background-clip: border-box;
      -webkit-background-clip: text;
      position: absolute;
      top: 0;
      left: 0;
  }
}