i.fa-arrow-left {
    position: absolute;
    top: 2em;
    left: 30px;
}
i.fa-map-marker-alt {
    width: 1em;
    height: 1em;
}
.order__logo {
    margin-right: 1.5em;
    color: grey;
}

.logo__coeur{
    color: black;
    cursor: pointer;
      &:hover {
      animation: 0.3s ease-in-out;
      display: inline-block;
      opacity: 1;
      background:linear-gradient(to bottom left, $color-primary,$color-secondary);
      -webkit-linear-gradient:(to bottom left, $color-primary, $color-secondary);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
  }

}