i.fa-arrow-left {
    position: absolute;
    top: 2em;
    left: 30px;
}
i.fa-map-marker-alt {
    width: 1em;
    height: 1em;
}
.order__logo {
    margin-right: 1.5em;
    color: grey;
}








$color1:#FF79DA;
$color2: #9356DC;

.heart-container {
   position: relative;
   top:-8px;
   width: 40px;
   height: 40px;
}

.heart-clip {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    clip-path: url(#svgPath);

   &:hover {  
      &::before {
         transform: scale(1);
         opacity: 1;
      }
   }
   &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background:linear-gradient(45deg, $color-secondary, $color-primary);
      fill: transparent;
      opacity: 0;
      transform: scale(0);
      transition: transform 0.2s linear, opacity 0.2s linear;
      transform-origin: 50% 50%;
   }
}
.heart-stroke {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }


